<div id="header-playground" class="inner">
  <div id="slide-icon"></div>
  <h2>
    <span>Lite Your Android App with</span>
    <span id="what-are-litesuits" class="green"></span>
  </h2>
  <div class="btn-group">
    <a class="btn-main bg-blue" href="#components">Take a look</a>
  </div>
</div>