@media mq-desktop
  #header.index
    height: 760px
  #header-playground
    margin-top: 100px
    h2
      font-size: 32px
      line-height: 32px
      margin-top: 40px
    .btn-main
      font-size: 16px
      padding: 12px 24px
  #slide-icon
    height: logo-size
    background-size: logo-size logo-size
    
@media mq-normal
  #header.index
    height: 640px
  #header-playground
    margin-top: 80px
    h2
      font-size: 26px
      line-height: 26px
      margin-top: 30px
  #slide-icon
    height: logo-size * 0.8
    background-size: logo-size * 0.8 logo-size * 0.8
  #main
    .section
      h3
        font-size: 24px
        line-height: 40px
      .icon
        float: none
      h4
        font-size: 22px
        line-height: 32px
        margin-bottom: 10px
      p
        font-size: 18px
        line-height: 28px
  .components-table
    margin: 64px 20px
    .component-row
      text-align: center
      h4, p
        padding-left: 0

@media mq-tablet
  #header.index
    height: 480px
  #header-playground
    margin-top: 50px
    h2
      font-size: 20px
      line-height: 20px
      margin-top: 20px
  #slide-icon
    height: logo-size * 0.6
    background-size: logo-size * 0.6 logo-size * 0.6
  #main
    .section
      padding: 60px 0
      h3
        font-size: 24px
        line-height: 40px
      .subtitle
        font-size: 18px
      .icon
        width: 96px
        height: 96px
        float: none
      h4
        font-size: 21px
        line-height: 32px
        margin-bottom: 10px
      p
        font-size: 17px
        line-height: 25px
  .components-table
    margin: 64px 20px
    .component-row
      text-align: center
      h4, p
        padding-left: 0
  #donations
    .donation-ways
      .way
        width: 100%
        margin-bottom: 20px
        .icon
          background-size: 288px 96px
        .coding
            background-position: 0 0
        .issue
            background-position: -96px 0
        .donate
            background-position: -192px 0

@media mq-mobile
  #header.index
    height: 360px
  #header-playground
    margin-top: 20px
    h2
      font-size: 16px
      line-height: 16px
      margin-top: 20px
  #slide-icon
    height: logo-size * 0.4
    background-size: logo-size * 0.4 logo-size * 0.4
  #main
    .section
      padding: 60px 0
      h3
        font-size: 21px
        line-height: 32px
        margin-bottom: 10px
      .subtitle
        font-size: 17px
        line-height: 25px
      .icon
        width: 96px
        height: 96px
        float: none
      h4
        font-size: 21px
        line-height: 32px
        margin-bottom: 10px
      p
        font-size: 17px
        line-height: 25px
  .components-table
    margin: 64px 0
    .component-row
      text-align: center
      h4, p
        padding-left: 0
  #donations
    .donations-list
      .donation
        padding: 8px 12px
    .donation-ways
      .way
        width: 100%
        .icon
          background-size: 288px 96px
        .coding
            background-position: 0 0
        .issue
            background-position: -96px 0
        .donate
            background-position: -192px 0

@media screen and (max-width: 580px)
  #sub-nav,
  #footer .feature .left
    display: none
  #footer .feature > div
    margin-top: 0 !important
  #footer .feature .right
    float: none
    text-align: center
  .components-table
    .component-row
      width: 100%
      margin: 0 0 60px
    
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
  .logo
    background: url("images/logo@2x.png") center center no-repeat
    background-size: 64px 64px