.green
  color: color-green !important
  &:hover
    color: color-green + #111
.bg-green
  background-color: color-green
  &:hover
    background-color: color-green + #111
.blue
  color: color-blue !important
  &:hover
    color: color-blue + #111
.bg-blue
  background-color: color-blue
  &:hover
    background-color: color-blue + #111

.btn-main
  color: white
  font-size: 14px
  padding: 10px 20px
  border-radius: 3px
  display: inline-block
  text-decoration: none
  text-transform: uppercase
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
.btn-ghost
  color: #28AFFA
  line-height: 1em
  font-weight: 600
  text-shadow: none
  transition: 0.2s ease
  background: transparent
  box-shadow: inset 0 0 0 1px #A9DFFD
  &:hover,
  &:focus
    color: white
    background-color: #28AFFA
    box-shadow: none
      
.logo
  width: 64px
  height: 64px
  display: inline-block
  background: url("images/logo.png") center center no-repeat
  

.LiteHttp
  background-image: url(images/http.png)
.LiteAsync
  background-image: url(images/async.png)
.LiteOrm
  background-image: url(images/orm.png)
.LiteBle
  background-image: url(images/ble.png)
.LiteCommon
  background-image: url(images/common.png)
.LiteUI
  background-image: url(images/ui.png)

$nav-link
  float: left
  display: block
  font-size: 12px
  font-weight: 600
  padding: 20px 15px
  text-decoration: none
  color: color-header-nav
  transition: color 0.2s
  text-transform: uppercase
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px
  &:hover
    color: white

.nav-link
  @extend $nav-link

.nav-icon
  @extend $nav-link
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  position: relative
  cursor: pointer