#footer
  color: #788D9E
  background: color-footer-background
  h4, h6
    text-transform: uppercase
  .feature
    padding: 60px 0 40px
    clearfix()
    .logo
      margin-right: 20px
    & > div
      margin-top: 10px
    h4
      color: white
      font-size: 20px
    h6
      font-size: 14px
  .copyright
    clearfix()
    padding: 20px 0
    border-top: 1px solid color-border-dark
    h4
      font-size: 12px
      font-weight: 600
    .contacts
      clearfix()
      .nav-link
        padding: 0 15px