#main
  .section
    padding: 72px 0
    h3, .subtitle
      text-align: center
    h3
      font-size: 26px
      line-height: 46px
    .subtitle
      font-size: 20px
      line-height: 33px
      color: rgb(120, 122, 125)

.components-table
  margin: 64px 40px
  .component-row
    margin-bottom: 60px
  .icon
    display: inline-block
    width: 128px
    height: 128px
    background-size: 100%
    margin-top: -10px
  h4, p
    padding-left: 158px
  h4
    font-size: 24px
    line-height: 40px
    margin-top: 10px
  p
    font-size: 18px
    line-height: 33px
    color: rgb(120, 122, 125)
  .btn-main
    margin-top: 15px